 
@font-face {
    font-family: Pretendard;
    font-weight: 400;
    src: url(./font53/Pretendard-Regular.woff) format("woff")
}

@font-face {
    font-family: Pretendard;
    font-weight: 500;
    src: url(./font53/Pretendard-Medium.woff) format("woff")
}

@font-face {
    font-family: Pretendard;
    font-weight: 600;
    src: url(./font53/Pretendard-SemiBold.woff) format("woff")
}

@font-face {
    font-family: Pretendard;
    font-weight: 700;
    src: url(./font53/Pretendard-Bold.woff) format("woff")
}
element.style {
    overflow: visible;
}
html, body, #__next {
    font-family: Pretendard, Malgun Gothic, -apple-system, Segoe UI, Roboto, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    line-height: 1.5;
    color: rgb(41, 51, 65);
}
 
html, body {
    height: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
}
* {
    box-sizing: border-box;
    word-break: break-word;
}
#__next {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
html, body, #__next {
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.header-container-1 {
    display: block;
    height: var(--gnb-height);
    z-index: 1000;
    position: sticky;
    top: 0px;
    width: 100%;
    color: rgb(41, 51, 65);
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(239, 241, 245);
}
.top-container-1 {
        max-width: 1010px;
        padding: 18px 20px;
        margin: 0px auto;
        display: flex;
    -webkit-box-align: center;
    align-items: center;
   
    height: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between
}
.tl-container-1 {
    gap: 30px;
    display: flex;
    align-items: center;
    flex: inherit;
}
.img-wrap-1{
    margin-top: 1px;
    display: inline-block;
}
.nav-container-1 {
-webkit-box-align: center;
align-items: center;
height: 24px;
display: flex;
}
.rogo-wrap-1{
    display: flex;
}
    
ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.tb-wrap-a-1 {
    min-height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: rgb(28, 36, 47);
    text-align: left;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
a {
    color: inherit;
    text-decoration: none;
}
.nav-container-1 ul {
        display: flex;
        gap: 18px;
    }
.tc-container-1 {
flex: inherit;
}
.form-wrap-1 {
position: relative;
display: block;
width: 280px;
height: 40px;
animation: initial;
left: 0px;
top: 0px;
z-index: 1040;
background-color: rgb(255, 255, 255);
flex-direction: column;
}
.tc-warp-1 {
height: 100%;
flex-basis: 44px;
padding: 0px 10px;
border: 2px solid transparent;
border-radius: 6px;
background-color: rgb(239, 241, 245);
display: flex;
-webkit-box-align: center;
align-items: center;
width: 100%;
}
/* button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    background-color: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
} */
.input-wrap-1 {
background-color: transparent;
font-size: 14px;
width: 100%;
height: 100%;
padding: 0px 0px 0px 12px;
color: rgb(41, 51, 65);
caret-color: rgb(105, 59, 242);
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    border: none;
    padding: 0px;
    outline: none;
}
.tr-container-1 {
flex: inherit;
display: flex;
-webkit-box-pack: end;
justify-content: flex-end;
}
.tr-container-3{
    display: block;
    margin-left: auto;
}
.nav-container-3 {
display: block;
}

.nav-wrap-1 {
display: block;
font-size: 14px;
line-height: 20px;
}
.nav-wrap-1 > ul > li.nav-item {
            display: list-item;
}
.a-wrap-1 {
    min-height: 1.375rem;
    line-height: 1.375rem;
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: rgb(28, 36, 47);
    text-align: left;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.a-wrap-2 {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    color: rgb(255, 255, 255);
    border-color: rgb(105, 59, 242);
    background-color: rgb(105, 59, 242);
    padding: 7px 14px;
    font-size: 14px;
    border-radius: 6px;
    width: initial;
}
.nav-wrap-1 > ul {
display: flex;
-webkit-box-align: center;
align-items: center;
gap: 16px;
}
.input-wrap-1::placeholder {
    color: #aab4bf;
}
    :root {
        --gnb-height: 72px;
    }

.main-container-1 {
background-color: rgb(246, 247, 249);
}
main {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
}
.main-container-3{
    position: relative;
    max-width: calc(452px);
    margin: 0px auto;
    padding: 0px 16px;
    min-height: 300px;
}
.main-container-6 {
gap: 40px;
padding-top: 80px;
padding-bottom: 80px;
display: flex;
flex-direction: column;
-webkit-box-align: center;
align-items: center;
}
.h1-wrap-1 {
align-self: center;
font-size: 34px;
color: rgb(41, 51, 65);
font-weight: 500;
}
.center-container-2 {
padding: 40px;
border-radius: 8px;
border: 1px solid rgb(239, 241, 245);
display: flex;
flex-direction: column;
width: 100%;
max-width: 424px;
background-color: rgb(255, 255, 255);
}
.center-container-3 {
display: flex;
flex-direction: column;
gap: 24px;
}
.lb-wrap-1 {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}
.input-container-3 {
position: relative;
display: flex;
}
.input-wrap-3 {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid rgb(224, 229, 235);
    color: rgb(41, 51, 65);
    font-size: 16px;
    width: 100%;
    outline: none;
    height: 48px;
    resize: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.input-wrap-5 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 4px;
}
.input-wrap-7{
    padding: 12px 70px 12px 12px;
    border-radius: 4px;
    border: 1px solid rgb(224, 229, 235);
    color: rgb(41, 51, 65);
    font-size: 16px;
    width: 100%;
    outline: none;
    height: 48px;
    resize: none;
}
.button-wrap-1 {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    color: rgb(255, 255, 255);
    border-color: rgb(105, 59, 242);
    background-color: rgb(105, 59, 242);
    padding: 11px 12px;
    font-size: 16px;
    border-radius: 4px;
    width: initial;
}
.a-container-2 {
    display: flex;
    gap: 20px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 32px;
}
.a-wrap-3 {
    color: rgb(106, 118, 133);
    padding: 6px 0px;
    font-size: 14px;
}
.a-wrap-5 {
    width: 1px;
    height: 12px;
    background-color: rgb(224, 229, 235);
}
.button-container-2 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
    margin-bottom: 12px;
}
.button-wrap-2 {
    width: 100%;
    height: 48px;
    padding: 8px 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 8px;
    background-color: rgb(254, 229, 0);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    gap: 4px;
}
.svg-warp-1 {
    flex-shrink: 0;
}
.span-warp-1 {
    min-height: 1.25rem;
    line-height: 1.25rem;
    font-size: 1rem;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: unset;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.button-wrap-3 {
    width: 100%;
    height: 48px;
    padding: 8px 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 8px;
    background-color: rgb(3, 199, 90);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    gap: 4px;
}

.input-wrap-3::placeholder {
    color: #aab4bf;
}
.input-wrap-7::placeholder {
    color: #aab4bf;
}
.input-wrap-4::placeholder {
    color: #aab4bf;
}
.span-wrap-1{
        min-height: 1.25rem;
    line-height: 1.25rem;
    font-size: 1rem;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: unset;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.footer-container-1 {
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(224, 229, 235);
    padding: 21px 12px 40px;
}
.section-container-1 {
    margin: 0px auto;
    display: block;
    max-width: 970px;
    padding: 0px;
}
.p-container-1 {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
}
.p-wrap-1.p-wrap-1.p-wrap-1 {
    padding-bottom: 3px;
}

.p-wrap-1 {
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(105, 59, 242);
}
.p-wrap-3 {
    font-size: 14px;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(106, 118, 133);
    padding-bottom: 30px;
}
.a-wrap-7 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    width: 136px;
    height: 36px;
    background-color: rgb(105, 59, 242);
    border-radius: 20.5px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: normal;
    white-space: nowrap;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 8px;
    text-align: center;
    border: none;
}
.img-container-1 {
    display: inline-flex;
    padding-right: 6px;
}
.a-wrap-7:last-child {
    margin: 0px;
}
.ul-container-1 {
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin-bottom: 0px;
    float: right;
}
.ul-warp-1 {
    margin-bottom: 0px;
}
    .li-warp-1 {
        display: inline-block;
        vertical-align: top;
    min-width: 95px;
    }
    .h5-warp-1 {
    position: relative;
    padding-bottom: 5px;
    line-height: normal;
    letter-spacing: normal;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    color: rgb(41, 51, 65);
}
.a-wrap-9 {
    width: fit-content;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    gap: 2px;
}
.p-wrap-5.p-wrap-5.p-wrap-5 {
    width: 100%;
    padding: 0px 0px 5px;
}
.p-wrap-5{
    font-size: 14px;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(106, 118, 133);
}
    .section-container-3 {
    padding-top: 20px;
    margin: 0px auto;
    display: block;
    max-width: 970px;
    
    }
    .bottom-container-1 {
    width: 100%;
    display: flex
;
    align-items: flex-end;
}
.bottom-container-3  {
    display: inline-block;
    vertical-align: top;
    flex: 1 1 0%;
}
.ul-container-3 {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 20px;
    line-height: 18px;
    padding-right: 96px;
    padding-bottom: 8px;
}
.ul-container-3 a {
    font-size: 12px;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(106, 118, 133);
    font-weight: 500;
}
.span-wrap-3 {
    margin: 0px;
    font-size: 12px;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(106, 118, 133);
    display: inline-block;
    font-weight: normal;
    text-align: start;
}
.ul-container-5 {
    display: flex;
    flex-flow: column wrap;
    line-height: 18px;
    padding-right: 0px;
    padding-bottom: 8px;
    gap: 0px;
}
.li-warp-3 {
    text-align: start;
    display: block;
    padding: 0px;
    font-size: 12px;
}
.span-wrap-5 {
    margin: 0px;
    font-size: 12px;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(106, 118, 133);
}
.a-container-3 {
    vertical-align: top;
    display: flex;
    column-gap: 12px;
    flex: 0 0 auto;
    float: right;
    padding-bottom: 40px;
}
.a-wrap-11 > div {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: rgb(224, 229, 235);
}
